@model IEnumerable<SBD_Projekt.Models.Sala>

@{
    ViewData["Title"] = "Lista Sal";
}

<h1>Lista Sal</h1>

<p>
    <a asp-action="Create">Dodaj nową sale</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rodzaj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wielkosc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rodzaj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wielkosc)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_sala">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.id_sala">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.id_sala">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
