@model IEnumerable<SBD_Projekt.Models.Obsluga>

@{
    ViewData["Title"] = "Lista Obsługi";
}

    <h1>Lista Obsługi</h1>

<p>
    <a asp-action="Create">Dodaj nową obsługa</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id_osoba)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id_zarobki)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id_godziny)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.typ)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id_osoba)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_zarobki)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_godziny)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.typ)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_obsluga">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.id_obsluga">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.id_obsluga">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
