@model IEnumerable<SBD_Projekt.Models.ViewModel.OblugaDetailsViewModel>

@{
    ViewData["Title"] = "Lista Obsługi";
}

    <h1>Lista Obsługi</h1>

<p>
    <a asp-action="Create">Dodaj nową obsługa</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Pracownik 
            </th>
            <th>
                Adres
            </th>
            <th>
                Typ
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Osoba.Imie)   @Html.DisplayFor(modelItem => item.Osoba.Nazwisko)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adres.Miasto) @Html.DisplayFor(modelItem => item.Adres.Ulica) @Html.DisplayFor(modelItem => item.Adres.Nr_domu) @Html.DisplayFor(modelItem => item.Adres.Nr_miszkania)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.typ)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_obsluga">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.id_obsluga">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.id_obsluga">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
