@model IEnumerable<SBD_Projekt.Models.Budynek>

@{
    ViewData["Title"] = "Lista Budynków";
}

<h1>Lista Budynków</h1>

<p>
    <a asp-action="Create">Dodaj nowy budynek</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Miasto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ulica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KodPocztowy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NrBudynku)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Miasto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ulica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KodPocztowy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NrBudynku)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_budynek">Edycja</a> |
                <a asp-action="Details" asp-route-id="@item.id_budynek">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.id_budynek">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
