@model IEnumerable<SBD_Projekt.Models.Klient>

@{
    ViewData["Title"] = "Lista Klientów";
}

    <h1>Lista Klientów</h1>

<p>
    <a asp-action="Create">Dodaj nowego klienta</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id_osoba)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id_prawnik)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id_osoba)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_prawnik)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_klient">Edycja</a> |
                <a asp-action="Details" asp-route-id="@item.id_klient">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.id_klient">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
