@model SBD_Projekt.Models.Rozprawa

@{
    ViewData["Title"] = "Edytuj";
}

<h1>Edytuj</h1>

<h4>Rozprawa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id_rozprawa" />
            <div class="form-group">
                <label asp-for="id_godziny" class="control-label"></label>
                @if (ViewBag.GodziniesCount > 0)
                {
                    <select asp-for="id_godziny" class="form-control" asp-items="ViewBag.Godziny"></select>
                }
                else
                {
                    <p class="form-text text-danger">Brak godzin w bazie danych</p>
                }
                <span asp-validation-for="id_godziny" class="text-danger"></span>
                <input class="btn btn-primary" type="button" value="Stwórz nową godzine" onclick="window.location.href = '@Url.Action("Create", "Godzinies")'" />
            </div>
            <div class="form-group">
                <label asp-for="id_wydzial" class="control-label"></label>
                @if (ViewBag.WydzialsCount > 0)
                {
                    <select asp-for="id_wydzial" class="form-control" asp-items="ViewBag.Wydzial"></select>
                }
                else
                {
                    <p class="form-text text-danger">Brak wydziałów w bazie danych</p>
                }
                <span asp-validation-for="id_wydzial" class="text-danger"></span>
                <input class="btn btn-primary" type="button" value="Stwórz nowy wydział" onclick="window.location.href = '@Url.Action("Create", "Wydzials")'" />
            </div>
            <div class="form-group">
                <label asp-for="id_dowod" class="control-label"></label>
                @if (ViewBag.DowodsCount > 0)
                {
                    <select asp-for="id_dowod" class="form-control" asp-items="ViewBag.Dowod"></select>
                }
                else
                {
                    <p class="form-text text-danger">Brak dowodów w bazie danych</p>
                }
                <span asp-validation-for="id_dowod" class="text-danger"></span>
                <input class="btn btn-primary" type="button" value="Stwórz nowy dowód" onclick="window.location.href = '@Url.Action("Create", "Dowods")'" />
            </div>
            <div class="form-group">
                <label asp-for="id_sedzia" class="control-label"></label>
                @if (ViewBag.SedziasCount > 0)
                {
                    <select asp-for="id_sedzia" class="form-control" asp-items="ViewBag.Sedzia"></select>
                }
                else
                {
                    <p class="form-text text-danger">Brak sędziów w bazie danych</p>
                }
                <span asp-validation-for="id_sedzia" class="text-danger"></span>
                <input class="btn btn-primary" type="button" value="Stwórz nowego sędzie" onclick="window.location.href = '@Url.Action("Create", "Sedzias")'" />
            </div>
            <div class="form-group">
                <label asp-for="id_prawnik" class="control-label"></label>
                @if (ViewBag.PrawniksCount > 0)
                {
                    <select asp-for="id_prawnik" class="form-control" asp-items="ViewBag.Prawnik"></select>
                }
                else
                {
                    <p class="form-text text-danger">Brak prawników w bazie danych</p>
                }
                <span asp-validation-for="id_prawnik" class="text-danger"></span>
                <input class="btn btn-primary" type="button" value="Stwórz nowego prawnika" onclick="window.location.href = '@Url.Action("Create", "Prawniks")'" />
            </div>
            <div class="form-group">
                <label asp-for="id_klient" class="control-label"></label>
                @if (ViewBag.KlientsCount > 0)
                {
                    <select asp-for="id_klient" class="form-control" asp-items="ViewBag.Klient"></select>
                }
                else
                {
                    <p class="form-text text-danger">Brak klientów w bazie danych</p>
                }
                <span asp-validation-for="id_klient" class="text-danger"></span>
                <input class="btn btn-primary" type="button" value="Stwórz nowego klienta" onclick="window.location.href = '@Url.Action("Create", "Klients")'" />
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Wróć do listy</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
