@model IEnumerable<SBD_Projekt.Models.ViewModel.RozprawaDetailsViewModel>

@{
    ViewData["Title"] = "Lista Rozpraw";
}

<h1>Lista Rozpraw</h1>

<p>
    <a asp-action="Create">Dodaj nową rozprawe</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nr rozprawy
            </th>
            <th>
                Wydział
            </th>
            <th>
                Godziny
            </th>
            <th>
                Sędzia
            </th>
            <th>
                Prawnik
            </th>
            <th>
                Klient
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id_rozprawa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wydzial.nazwa)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Godziny.OdGodziny)<br />@Html.DisplayFor(modelItem => item.Godziny.DoGodziny)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sedzia.Imie)  @Html.DisplayFor(modelItem => item.Sedzia.Nazwisko)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prawnik.Imie)  @Html.DisplayFor(modelItem => item.Prawnik.Nazwisko)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Klient.Imie)  @Html.DisplayFor(modelItem => item.Klient.Nazwisko)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_rozprawa">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.id_rozprawa">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.id_rozprawa">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
