@model SBD_Projekt.Models.ViewModel.OsobaDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Osoba</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Osoba.Imie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Osoba.Imie)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Osoba.Nazwisko)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Osoba.Nazwisko)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Osoba.Pesel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Osoba.Pesel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Osoba.id_adres)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Osoba.id_adres)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Osoba.Telefon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Osoba.Telefon)
        </dd>


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Adres.Kraj)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Adres.Kraj)
        </dd>


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Adres.Miasto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Adres.Miasto)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Adres.Województwo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Adres.Województwo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Osoba.id_osoba">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
