@model IEnumerable<SBD_Projekt.Models.ViewModel.OsobaDetailsViewModel>

@{
    ViewData["Title"] = "Lista Osób";
}

    <h1>Lista Osób</h1>

<p>
    <a asp-action="Create">Dodaj nową osobę</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Imię i Nazwisko
            </th>
            <th>
                Pesel
            </th>
            <th>
                Miasto
            </th>
            <th>
                Ulica
            </th>
            <th>
                Mieszkanie
            </th>
            <th>
                Telefon
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Osoba.Imie) @Html.DisplayFor(modelItem => item.Osoba.Nazwisko)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Osoba.Pesel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adres.Miasto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adres.Ulica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adres.Nr_domu)/@Html.DisplayFor(modelItem => item.Adres.Nr_miszkania)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Osoba.Telefon)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Osoba.id_osoba">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.Osoba.id_osoba">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.Osoba.id_osoba">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
