@model IEnumerable<SBD_Projekt.Models.Godziny>

@{
    ViewData["Title"] = "Lista Godzin";
}

<h1>Lista Godzin</h1>

<p>
    <a asp-action="Create">Dodaj nowe godziny</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OdGodziny)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoGodziny)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OdGodziny)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoGodziny)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_godziny">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.id_godziny">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.id_godziny">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
