@model SBD_Projekt.Models.ViewModel.PrawnikDetailsViewModel

@{
    ViewData["Title"] = "Usuń";
}

<h1>Usuń prawnika</h1>

<h3>Na pewno chcesz to zrobić?</h3>
<div>
    <h4>Prawnik</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Osoba.Imie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Osoba.Imie)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Osoba.Nazwisko)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Osoba.Nazwisko)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Osoba.Pesel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Osoba.Pesel)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Osoba.Telefon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Osoba.Telefon)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id_prawnik" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Index">Wróć do listy</a>
    </form>
</div>
