@model SBD_Projekt.Models.ViewModel.PrawnikDetailsViewModel

@{
    ViewData["Title"] = "Szczegóły";
}

    <h1>Szczegóły</h1>

<div>
    <h4>Prawnik</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Osoba.Imie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Osoba.Imie)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Osoba.Nazwisko)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Osoba.Nazwisko)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Osoba.Pesel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Osoba.Pesel)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Osoba.Telefon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Osoba.Telefon)
        </dd>


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Adres.Kraj)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Adres.Kraj)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Adres.Miasto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Adres.Miasto)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Adres.Województwo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Adres.Województwo)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Adres.Nr_domu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Adres.Nr_domu)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Adres.Nr_miszkania)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Adres.Nr_miszkania)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Specjalizacje.nazwa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Specjalizacje.nazwa)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Specjalizacje.doswiadczenie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Specjalizacje.doswiadczenie)
        </dd>


    </dl>
</div>
<div>
    @Html.ActionLink("Edytuj", "Edit", new {  id = Model.id_prawnik }) |
    <a asp-action="Index">Wróć do listy</a>
</div>
