@model IEnumerable<SBD_Projekt.Models.ViewModel.PrawnikDetailsViewModel>

@{
    ViewData["Title"] = "Lista Prawników";
}

<h1>Lista Prawników</h1>

<p>
    <a asp-action="Create">Dodaj nowego prawnika</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Imie i nazwisko
            </th>
            <th>
                Adres
            </th>
            <th>
               Specjalizacja
            </th>
            <th>
               Zarobki
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Osoba.Imie)  @Html.DisplayFor(modelItem => item.Osoba.Nazwisko)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adres.Miasto) @Html.DisplayFor(modelItem => item.Adres.Ulica) @Html.DisplayFor(modelItem => item.Adres.Nr_domu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specjalizacje.nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zarobki.zarobek)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_prawnik">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.id_prawnik">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.id_prawnik">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
