@model IEnumerable<SBD_Projekt.Models.Dowod>

@{
    ViewData["Title"] = "Lista Dowodow";
}

    <h1>Lista Dowodow</h1>

<p>
    <a asp-action="Create">Dodaj nowy</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nazwa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Typ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id_rozprawy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Typ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_rozprawy)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_dowod">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.id_dowod">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.id_dowod">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
