@model SBD_Projekt.Models.Wydzial

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Wydzial</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_budynku)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_budynku)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nazwa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nazwa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id_wydzial">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
