@model SBD_Projekt.Models.ViewModel.WydzialDetailsViewModel

@{
    ViewData["Title"] = "Szczegóły";
}

<h1>Szczegóły</h1>

<div>
    <h4>Wydzial</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            Nazwa wydziału:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.nazwa)
        </dd>

        <dt class="col-sm-2">
            Budynek
        </dt>
        <dd class="col-sm-10">

        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Budynek.Miasto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Budynek.Miasto)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Budynek.KodPocztowy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Budynek.KodPocztowy)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Budynek.Ulica)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Budynek.Ulica)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Budynek.NrBudynku)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Budynek.NrBudynku)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id_wydzial">Edytuj</a> |
    <a asp-action="Index">Wróć do listy</a>
</div>
