@model IEnumerable<SBD_Projekt.Models.ViewModel.WydzialDetailsViewModel>

@{
    ViewData["Title"] = "Lista Wydziałów";
}

<h1>Lista Wydziałów</h1>

<p>
    <a asp-action="Create">Dodaj nowy wydział</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Miasto
            </th>
            <th>
                Ulica
            </th>
            <th>
                Nr mieszkania
            </th>
            <th>
                Kod pocztowy
            </th>
            <th>
                Nazwa
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Budynek.Miasto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Budynek.Ulica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Budynek.NrBudynku)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Budynek.KodPocztowy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nazwa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_wydzial">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.id_wydzial">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.id_wydzial">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
