@model SBD_Projekt.Models.ViewModel.SpotkanieDetailsViewModel

@{
    ViewData["Title"] = "Szczegóły";
}

<h1>Szczegóły</h1>

<div>
    <h4>Spotkanie</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            Sala
        </dt>
        <dd class="col-sm-10">

        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sala.Rodzaj)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sala.Rodzaj)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sala.Wielkosc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sala.Wielkosc)
        </dd>


        <dt class="col-sm-2">
            Godziny
        </dt>
        <dd class="col-sm-10">

        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Godziny.OdGodziny)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Godziny.OdGodziny)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Godziny.DoGodziny)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Godziny.DoGodziny)
        </dd>


        <dt class="col-sm-2">
            Prawnik
        </dt>
        <dd class="col-sm-10">

        </dd>
        <dt class="col-sm-2">
            Imie i Nazwisko
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prawnik.Imie)   @Html.DisplayFor(model => model.Prawnik.Nazwisko)
        </dd>


        <dt class="col-sm-2">
            Klient
        </dt>
        <dd class="col-sm-10">

        </dd>
        <dt class="col-sm-2">
            Imie i Nazwisko
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Klient.Imie)   @Html.DisplayFor(model => model.Klient.Nazwisko)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id_spotkanie">Edytuj</a> |
    <a asp-action="Index">Wróć do listy</a>
</div>
