@model IEnumerable<SBD_Projekt.Models.ViewModel.SpotkanieDetailsViewModel>

@{
    ViewData["Title"] = "Lista Spotkań";

}

    <h1>Lista Spotkań</h1>

<p>
    <a asp-action="Create">Dodaj nowe spotkanie</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Rodzaj
            </th>
            <th>
                Wielkość
            </th>
            <th>
                Godziny Spotkania
            </th>
            <th>
                Imię i Nazwisko Prawnika
            </th>
            <th>
                Imię i Nazwisko Klienta
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sala.Rodzaj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sala.Wielkosc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Godziny.OdGodziny) - @Html.DisplayFor(modelItem => item.Godziny.DoGodziny)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prawnik.Imie) @Html.DisplayFor(modelItem => item.Prawnik.Nazwisko)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Klient.Imie) @Html.DisplayFor(modelItem => item.Klient.Nazwisko)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_spotkanie">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.id_spotkanie">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.id_spotkanie">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
