@model IEnumerable<SBD_Projekt.Models.Spotkanie>

@{
    ViewData["Title"] = "Lista Spotkań";
}

    <h1>Lista Spotkań</h1>

<p>
    <a asp-action="Create">Dodaj nowe spotkanie</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id_sali)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id_godziny)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id_prawnik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id_klient)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id_sali)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_godziny)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_prawnik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_klient)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_spotkanie">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.id_spotkanie">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.id_spotkanie">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
