@model SBD_Projekt.Models.Specjalizacja

@{
    ViewData["Title"] = "Szczegóły";
}

<h1>Szczegóły</h1>

<div>
    <h4>Specjalizacja</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nazwa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nazwa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.doswiadczenie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.doswiadczenie)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id_specjalizacja">Edytuj</a> |
    <a asp-action="Index">Wróć do listy</a>
</div>
