@model IEnumerable<SBD_Projekt.Models.Specjalizacja>

@{
    ViewData["Title"] = "Lista Specjalizacji";
}

<h1>Lista Specjalizacji</h1>

<p>
    <a asp-action="Create">Dodaj nową specjalizację</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nazwa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.doswiadczenie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.doswiadczenie)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_specjalizacja">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.id_specjalizacja">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.id_specjalizacja">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
