@model SBD_Projekt.Models.ViewModel.SedziaDetailsViewModel

@{
    ViewData["Title"] = "Usuń";
}

<h1>Usuń</h1>

<h3>Na pewno chcez to zrobić?</h3>
<div>
    <h4>Sedzia</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Osoba.Imie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Osoba.Imie)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Osoba.Nazwisko)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Osoba.Nazwisko)
        </dd>
        <dt class="col-sm-2">
            Nazwa Wydziału:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Wydzial.nazwa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Zarobki.zarobek)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Zarobki.zarobek)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id_sedzia" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Index">Wróć do listy</a>
    </form>
</div>
