@model IEnumerable<SBD_Projekt.Models.Sedzia>

@{
    ViewData["Title"] = "Lista Sędziów";
}

<h1>Lista Sędziów</h1>

<p>
    <a asp-action="Create">Dodaj nowego sędzie</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id_osoba)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id_wydzial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id_zarobki)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id_osoba)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_wydzial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_zarobki)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_sedzia">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.id_sedzia">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.id_sedzia">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
