@model IEnumerable<SBD_Projekt.Models.ViewModel.SedziaDetailsViewModel>

@{
    ViewData["Title"] = "Lista Sędziów";
}

<h1>Lista Sędziów</h1>

<p>
    <a asp-action="Create">Dodaj nowego sędzie</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Imię i Nazwisko
            </th>
            <th>
                Nazwa Wydziału
            </th>
            <th>
                Zarobki
            </th>
            <th>
                Premia
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Osoba.Imie) @Html.DisplayFor(modelItem => item.Osoba.Nazwisko)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wydzial.nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zarobki.zarobek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zarobki.premia)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_sedzia">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.id_sedzia">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.id_sedzia">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
