@model IEnumerable<SBD_Projekt.Models.Zarobki>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.zarobek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.premia)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.zarobek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.premia)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_zarobki">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id_zarobki">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id_zarobki">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
